{{define "content"}}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header" data-background-color="purple">
	                    <h4 class="title">{{.Title}}</h4>
					    <p class="category">I'm really not that clever..</p>
	                </div>
	                <div class="card-content">
                        <form id="frmCustomer" name="frmCustomer" action="/customer/save" method="POST">
                            <div class="row">
	                            <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Name</label>
										<input id="name" name="name" type="text" class="form-control" value="{{.Object.Name}}">
									</div>
	                            </div>
	                            <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">POC</label>
										<input id="poc" name="poc" type="text" class="form-control" value="{{.Object.POC}}">
									</div>
	                            </div>
                            </div>

                            <input id="id" name="id" type="hidden" value="{{.Object.ID}}">
                            
                            <button id="save" name="save" type="submit" class="btn btn-primary pull-right">Save</button>
                            <a href="/customers" class="btn btn-primary pull-right">Cancel</a>
                            <div class="clearFix"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
