{{define "content"}}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header" data-background-color="purple">
	                    <h4 class="title">{{.Title}}</h4>
					    <p class="category">insert something funny here..</p>
	                </div>
	                <div class="card-content">
                        <form id="frmProject" name="frmProject" action="/project/save" method="POST">
                            <div class="row">
                                <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Cust ID</label>
										<input id="custid" name="custid" type="text" class="form-control" value="{{.Object.CustID}}">
									</div>
	                            </div>
	                            <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Name</label>
										<input id="name" name="name" type="text" class="form-control" value="{{.Object.Name}}">
									</div>
	                            </div>
	                            <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Start Date</label>
										<input id="startDate" name="startDate" type="text" class="form-control" value="{{.Object.StartDate}}">
									</div>
	                            </div>
                                <div class="col-md-6">
									<div class="form-group label-floating">
										<label class="control-label">Hours</label>
										<input id="hours" name="hours" type="text" class="form-control" value="{{.Object.Hours}}">
									</div>
	                            </div>
                            </div>

                            <input id="id" name="id" type="hidden" value="{{.Object.ID}}">
                            
                            <button id="save" name="save" type="submit" class="btn btn-primary pull-right">Save</button>
                            <a href="/projects" class="btn btn-primary pull-right">Cancel</a>
                            <div class="clearFix"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
