{{define "content"}}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header" data-background-color="purple">
	                    <h4 class="title">{{.Title}}</h4>
					    <p class="category">Who should work on what today?</p>
	                </div>
	                <div class="card-content">
                        <form id="frmTask" name="frmTask" enctype="multipart/form-data" action="/task/save" method="POST">
                            <div class="row">
	                            <div class="col-md-4">
									<div class="form-group label-floating">

                                        <label class="control-label">Assign To</label>
                                        <select id="userId" name="userId" class="form-control">
                                            {{ $uid := .Task.UserID }}
                                            {{range .Users}}
                                                <option value="{{.ID}}" {{ if eq .ID $uid }} selected {{end}} >{{.Username}}</option>
                                            {{end}}
                                        </select>

									</div>
	                            </div>
	                            <div class="col-md-4">
									<div class="form-group label-floating">
										
                                        <label class="control-label">Project</label>
                                        <select id="projectId" name="projectId" class="form-control">
                                            {{ $pid := .Task.ProjectID }}
                                            {{range .Projects}}
                                                <option value="{{.ID}}" {{ if eq .ID $pid }} selected {{end}} >{{.Name}}</option>
                                            {{end}}
                                        </select>

									</div>
	                            </div>
                            </div>

                            <div class="row">

                                <div class="col-md-8">
									<div class="form-group label-floating">
										<label class="control-label">Task</label>
										<input id="task" name="task" type="text" class="form-control" value="{{.Task.Title}}">
									</div>
	                            </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <div class="checkbox">
                                            <label>
                                                <input id="isCompleted" name="isCompleted" type="checkbox" {{ if eq .Task.IsCompleted 1 }} checked {{end}}  >
                                                Completed
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-8">
									<div class="form-group label-floating">
										<label class="control-label">Attachment</label>
									</div>
                                    <input type="file" name="uploadfile" />
	                            </div>

                            </div>

                            <input id="id" name="id" type="hidden" value="{{.Task.ID}}">
                            
                            <button id="save" name="save" type="submit" class="btn btn-primary pull-right">Save</button>
                            <a href="/tasks" class="btn btn-primary pull-right">Cancel</a>
                            <div class="clearFix"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
