{{define "content"}}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">{{.Title}}</h4>
                        <p class="category">Remember, the customer is always right!</p>
                    </div>
                    <div class="card-content table-responsive">

                        <a href="/customer/create" class="btn btn-primary pull-right">Create</a>

                        <table class="table">
                            <thead class="text-primary">
                                <th>Name</th>
                                <th>POC</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </thead>
                            <tbody>
                                {{range .Objects}}
                                <tr>
                                    <td>{{.Name}}</td>
                                    <td>{{.POC}}</td>
                                    <td><a href="/customer/{{.ID}}">Edit</a></td>
                                    <td><a href="/customer/delete/{{.ID}}">Delete</a></td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="3">
                                        Wow no customers, that is not good. You might want to fire your sales team.
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}